button{
    height: 45px;
    width: 200px;
    border-color: red;
    border-width: 0.5px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 0.2cm;
  }

.signin{
  height: 45px;
  width: 200px;
  border-color: red;
  border-width: 0.5px;
  color: rgb(255, 255, 255);
  background-color: black;
  border-radius: 0.2cm;
}

button:hover{
  border-color: white;
}

input.submit{
    height: 45px;
    border-width: 0.5px;
    width: 200px;
    border-color: red;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 0.2cm;
}


input.submit:hover{
  border-color: white;
}

button.erase{
    height: 45px;
    width: 200px;
    border-color: rgb(255, 0, 0);
    border-width: 0.5px;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 0.2cm;
}

.erase:hover{
  border-color: white;
}

input.newstock{
  width: 300px;
  height: 25px;
  border-radius: 0.2cm;
}

input.newstock:-ms-input-placeholder{
  color: rgb(6, 97, 139);
}

select{
  width: 300px;
  height: 30px;
  border-radius: 0.2cm;
}

input{
  border-radius: 0.2cm;
  height: 25px;
}