button{
  margin-top: 10%;
    height: 45px;
    border-radius: 0.3cm;
    width: 100px;
    border-color: red;
    color: rgb(255, 255, 255);
    background-color: black;
  }

input.submit{
    height: 40px;
    border-radius: 0.3cm;
    width: 100px;
    border-color: red;
    color: rgb(255, 255, 255);
    background-color: black;
}