button{
    height: 45px;
    width: 200px;
    border-color: red;
    border-width: 0.5px;
    color: rgb(255, 255, 255);
    background-color: black;
  }

.signin{
  margin-top: 10%;
  height: 45px;
  width: 200px;
  border-color: red;
  border-width: 0.5px;
  color: rgb(255, 255, 255);
  background-color: black;
}

button:hover{
  border-color: white;
}

input.submit{
    height: 45px;
    border-width: 0.5px;
    width: 200px;
    border-color: red;
    color: rgb(255, 255, 255);
    background-color: black;
}

input.submit:hover{
  border-color: white;
}

button.erase{
    height: 45px;
    width: 200px;
    border-color: red;
    border-width: 0.5px;
    color: rgb(255, 255, 255);
    background-color: black;
}

.erase:hover{
  border-color: white;
}

input.newstock{
  width: 300px;
}