.homepage{
    margin-top: 25%;
    width: 20%;
    text-align: center;
    background-color: black;
    height: 100%;
    margin-left: -10px;
}

.login{
    
    float: right;
    text-align: right;
    margin-right: 25%;
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    
}

.main{
    margin-top: -15px;
    
    width: 30%;
    text-align: center;
    height: 100%;
    margin-left: 35%;
    float: left;
    background-color: rgb(0, 0, 0);
}

.table{
    width: 100%;

}

table{
    border: 1px solid black;
}

body{
    background-image: url('../img/goldenbull.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.menu{
    height: 100vh;
    width: 20%;
    background-color: black;
    padding-top: 10%;
    align-items: center;
    align-content: center;
    margin-top: -10px;
    margin-left: -10px;
    float: left;
}

.inputs{
    margin-top: 50px;
}