table.stocks{
    width: 1000px;
    background-color: white;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    border-radius: 0.2cm;
    border-bottom: 1px solid black;
}

td{
    text-align: center;
}

.ids{
    padding-left: 10px;
}

.stocks{
    padding-left: 30px;
}

.qb{
    padding-left: 70px;
}
.pb{
    padding-left: 55px;
}
.ps{
    padding-left: 45px;
}
.qs{
    padding-left: 55px;
}
.pn{
    padding-left: 20px;
}
.pp{
    padding-left: 30px;
}

th{
    width: 10px;

}


