table.stocks{
    width: 1000px;
    background-color: white;
    align-items: center;
    vertical-align: middle;
    align-content: center;
    border-radius: 0.2cm;
}

td{
    padding-left: 22px;
    text-align: center;
    margin-left: 10px;
}
th{
    margin-left: 10px;
    width: 20px;
}

tr:hover{
    background-color: darkcyan;
}
